# system:
You are an AI assistant reading the transcript of a conversation between an AI and a human. Given an input question and conversation history, infer user real intent.

The conversation history is provided just in case of a coreference (e.g. "What is this?" where "this" is defined in previous conversation).

Return the output as query used for next round user message.

# user:
EXAMPLE
Conversation history:
Human: I want to see the list of SAP instances in my subscription.
AI: Sure, I can help you with that. Here is the list of SAP instances:
Human: What is the resource group of instance B01?
Output: RG of SID B01
Human: how many SAP systems do I have?
Output: the total number of elements in the list
Human: what are the different VM types?
Output: a list of all the VMtype
END OF EXAMPLE

Conversation history (for reference only):
{% for item in chat_history %}
Human: {{item.inputs.question}}
AI: {{item.outputs.answer}}
{% endfor %}
Human: {{question}}

Output:
